/*::-webkit-scrollbar { 
    display: none; 
}*/

h5{
    display: inline-block;
}


.head{
    border-bottom: 1px solid #fff;

}


p{
    /*display: inline-block;*/
}


ul, li{
    padding: 0;
    margin: 0;
    display: block;
    text-decoration: none;
}

li{
    padding:5px 20px;
}



.product{
    border-bottom: 2px solid #fff;
}

